[submodule "SwiftProtobuf"]
	path = SwiftProtobuf
	url = https://github.com/apple/swift-protobuf.git
[submodule "Starscream"]
	path = Starscream
	url = https://github.com/daltoniam/Starscream.git
[submodule "GRDB.swift"]
	path = GRDB.swift
	url = https://github.com/groue/GRDB.swift.git
