[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "SwiftProtobuf"]
	path = SwiftProtobuf
	url = https://github.com/apple/swift-protobuf.git
[submodule "Starscream"]
	path = Starscream
	url = https://github.com/daltoniam/Starscream.git
